* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.btn {
  background-color: #e0bc75;
  border: none;
  color: white;
  cursor: pointer;
 
}

.btn:hover {
  background-color: #333;
}

p{
  width: 100%;
}